[shape=rTable] {
     display: table; 
    }

[shape=rTableRow] {
     display: table-row; 
    }

[shape=rTableHeading] {
     display: table-header-group; 
    }

[shape=rTableBody] {
     display: table-row-group; 
    }

[shape=rTableFoot] {
     display: table-footer-group; 
    }

[shape=rTableCell], [shape=rTableHead] {
    flex-wrap: wrap;
     display: table-cell;
     padding-top: .3em;
     padding-bottom: .3em;
     padding-left: .3em;
     padding-right: .3em;
    }



[filled=good] {
    border: .1em solid rgb(35, 154, 194);
}

[taken=true] {
    border: .1em solid orange;
}

.good{
    border: .1em solid rgb(35, 154, 194);
}

#Ready{
    display: contents;
    color: green;
}

.error{
    border: .1em solid orange;
}

.hidden-messages{
    display: none;
}

.shown-messages{
    display: flexbox;
}

.rowClicked{
    display: flexbox;
    border: .1em solid rgb(35, 154, 194);
    border-radius: 1em;
}

.rowNotClicked{
    display: flexbox;
    border: .1em solid lightblue;
    border-radius: 1em;
}


.Clicked{
    display: flexbox;
    border: .1em solid rgb(35, 154, 194);
    border-radius: 1em;
}

.notClicked{
    display: none;
}

.buttonClicked{
    display: flexbox;
}

[completed=rowCompleted]{
    display: inline-flexbox;
    text-emphasis: fade;
    border: .1em solid rgb(161, 161, 161);
    color: rgb(161, 161, 161);
    border-radius: 1em;
}




.deletebutton{
    display: flexbox;
    fill: red;
    color: white;
    border: .1em solid red;
    border-radius: 1em;
    background-color: red;
}

[deletable=true]{
    display: flexbox;
    fill: solid red;
    border: .1em solid red;
    border-radius: 1em;

}

[shown=hidden]{
    display: none;
}

[shown=show]{
    display: flexbox;
    border: .1em solid rgb(35, 154, 194);
    border-radius: 1em;
}

.tableDisplay{
    display: flex;
    justify-content: center;
}