[filled=good] {
    border: .1em solid green;
}

[taken=true] {
    border: .1em solid orange;
}

.good{
    border: .1em solid green;
}

#Ready{
    display: contents;
    color: green;
}

.error{
    border: .1em solid orange;
}

.hidden-messages{
    display: none;
}

.shown-messages{
    display: contents;
}

.rowClicked{
    display: inline-flexbox;
    border: .1em solid lightblue;
    border-radius: 1em;
}

.rowNotClicked{
    display: inline-flexbox;
    border: .1em solid gray;
    border-radius: 1em;
}


.Clicked{
    display: inline-flexbox;
    border: .1em solid lightblue;
    border-radius: 1em;
}

.notClicked{
    display: none;
}

.buttonClicked{
    display: inline-flexbox;
}

[completed=rowCompleted]{
    display: inline-flexbox;
    text-emphasis: fade;
    border: .2em solid green;
    border-radius: 1em;
}




.deletebutton{
    display: inline-flexbox;
    fill: red;
    color: white;
    border: .1em solid red;
    border-radius: 1em;
    background-color: red;
}

[deletable=true]{
    display: inline-flexbox;
    fill: solid red;
    border: .1em solid red;
    border-radius: 1em;

}

[shown=hidden]{
    display: none;
}

[shown=show]{
    display: inline-flexbox;
    border: .1em solid lightblue;
    border-radius: 1em;
}

.taskDiplayer{
    display: inline-flexbox;
    align-content: center;
}